h1 {
    font: 28px Verdana;
    color: blue background: red;
}


.col-center-block {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.little-tool{
    margin-top:15px;
    margin-bottom:15px;
    margin-right: 15px;
}


.modal-dialog {

    width: 60%;
}