<!DOCTYPE html>
<html>
<head>
    <title>Administrator</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.13/css/dataTables.bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="/css/admin_datalist.css">

    <script type="text/javascript" language="javascript" src="//code.jquery.com/jquery-1.12.4.js"></script>
    <script type="text/javascript" language="javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.13/js/dataTables.bootstrap.min.js"></script>

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<script type="text/javascript">
    var offset = 0;
    var source_list;
    var rule_list;
    var formType = "add";

    $(document).ready(function(){

        init_list();
        refreshList();

        $("#record_refresh").click(function(){
            refreshList()
        });


        $("#add_rule").click(function(){
            $('#add-rule-modal').modal({keyboard:false,show:true});
            initAddRuleForm();
            formType = "add"
        });

        $("#add_source").click(function(){
            $('#add-rule-source-modal').modal({keyboard:false,show:true})
        });

        $("#start_crawl").click(function () {
            if (window["WebSocket"]) {
                conn = new WebSocket("ws://{{.host}}/admin/crawler/run");
                conn.onopen = function (evt){
                    onOpen(evt)
                };
                conn.onclose = function(evt) {
                    onClose(evt)
                };
                conn.onmessage = function(evt) {
                    onMessage(evt)
                };
                conn.onerror = function (evt) {
                    onError(evt)
                }
            } else {
                appendLog($("<div><b>Your browser does not support WebSockets.</b></div>"))
            }
        });

        $("#crawl_info").click(function () {
            data = {msg:"test"};

            doSend("/admin/crawler/info", data)
        });


        function onOpen(evt){
            mlog("connected")
        }

        function onClose(evt){
            mlog("colsed")
        }

        function onMessage(evt){
            var jsonData = JSON.parse(evt.data);
            mlog(obj2string(jsonData));
            var msgName = jsonData.MsgName;
            var msgBody = jsonData.Payload;


            data = JSON.parse(jsonData.Payload);
            switch (msgName){
                case "crawler started":

                    $("#start_crawl i").attr("class", "glyphicon glyphicon-stop");

                    break;
                case "crawlerInfo":
                    mlog("crawl info rsp");
                    break

            }
        }


        function mlog(msg){
            $('<p>' + msg + '</p>').insertAfter("#mlog")
        }

        function onError(evt){
            mlog('<span stype="color: red;">Error:</span>' + evt.data)
        }

        function doSend(msgName, msgData) {

            msgBodyJson = JSON.stringify(msgData);

            var jsonData ={
                MsgName:msgName,
                Payload: msgBodyJson
            };

            output = JSON.stringify(jsonData);

            conn.send(output)

        }

        /////////////////////////////////////////// Test Cases ///////////////////////////////////////////


        AddTest("#TestListRule", "#TestListRuleClose", '#TestListRuleResTab', '#TestListRuleRes', "listRule");
        AddTest("#TestListTitleRule", "#TestListTitleRuleClose", '#TestListTitleRuleTab', '#TestListTitleRuleRes', "listTitle");
        AddTest("#TestListUrlRule", "#TestListUrlRuleClose", '#TestListUrlRuleTab', '#TestListUrlRuleRes', "listUrl");
        AddTest("#TestContentTitleRule", "#TestContentTitleRuleClose", '#TestContentTitleRuleTab', '#TestContentTitleRuleRes', "contentTitle");
        AddTest("#TestContentTitleImageRule", "#TestContentTitleImageRuleClose", '#TestContentTitleImageRuleTab', '#TestContentTitleImageRuleRes', "contentTitleImage");
        AddTest("#TestContentTitleImageTextRule", "#TestContentTitleImageTextRuleClose", '#TestContentTitleImageTextRuleTab', '#TestContentTitleImageTextRuleRes', "contentTitleImageText");
        AddTest("#TestContentBodyRule", "#TestContentBodyRuleClose", '#TestContentBodyRuleTab', '#TestContentBodyRuleRes', "contentBody");
        AddTest("#TestContentBodyExcludeRule", "#TestContentBodyExcludeRuleClose", '#TestContentBodyExcludeRuleTab', '#TestContentBodyExcludeRuleRes', "contentBodyExcludeRule");

        function AddTest(openTagName, closeTagName, resTabName, resOutputTabName, testKind) {

            $(openTagName).click(function () {

                $.ajax({
                    url: "/admin/rules/test?item=" + testKind,
                    type: "POST",
                    cache: false,
                    data: new FormData($('#add-rule-modal .form-horizontal')[0]),
                    processData: false,
                    contentType: false
                }).done(function(json){
                    if(json.Status==0){
                        $(resTabName).show("slow");
                        for(ii = 0; ii < json.Body.length; ii++){
                            $(resOutputTabName).append($('<p>'+ ii + json.Body[ii] + '</p>'))
                        }

                        //$(resOutputTabName).text(json.Body)
                    }else{
                        alert(json.Msg)
                    }
                }).fail(function(res) {
                    mlog(JSON.stringify(res))
                });
            });

            $(closeTagName).click(function () {
                $(resOutputTabName).html('');
                $(resTabName).hide()
            })
        }

        /////////////////////////////////////////// Test Cases End///////////////////////////////////////////


        $(document).delegate(".rule-edit", "click", function () {
            id_str = $(this).attr("data-title");
            id = parseInt(id_str);
            if(id == 0){
                alert("id is 0");
                return
            }

            var selected;

            for (var item_ii in rule_list){
                item = rule_list[item_ii];
                if (item.Id == id_str){
                    selected = item;
                    break
                }
            }

            var idoffset_str = selected.ListUrlIdPartOffset;
            var idoffset = parseInt(idoffset_str);

            IdUrl = selected.Addr.substring(0, idoffset);


            initAddRuleForm();


            formType = "edit";
            $("#add-rule-modal #RuleId").val(id);
            $("#add-rule-modal #RuleName").val(selected.RuleName);
            $("#add-rule-modal #Addr").val(selected.Addr);
            $("#add-rule-modal #IDUrl").val(IdUrl);
            $("#add-rule-modal #ListRule").val(selected.ListRule);
            $("#add-rule-modal #ListUrlRule").val(selected.ListUrlRule);
            $("#add-rule-modal #ListTitleRule").val(selected.ListTitleRule);
            $("#add-rule-modal #ContentTitleRule").val(selected.ContentTitleRule);
            $("#add-rule-modal #ContentTitleImageRule").val(selected.ContentTitleImageRule);
            $("#add-rule-modal #ContentBodyRule").val(selected.ContentBodyRule);
            $("#add-rule-modal #ContentBodyExcludeRule").val(selected.ContentBodyExcludeRule);
            $("#add-rule-modal #ContentTitleImageTextRule").val(selected.ContentTitleImageTextRule);
            $("#add-rule-modal #SourceId").val("" + selected.Source.Id);
            $("#add-rule-modal #Category").val("" + selected.Category);

            $("input[name=ShowKind][value=" + selected.ShowKind + "]").prop('checked', true);

            mlog("feature > 1:" + (selected.Feature >= 1) );
            $("#add-rule-modal #IsFeatured").prop('checked', selected.Feature >= 1)
        });

        $(document).delegate("#add-rule-source-modal #save-rule-source-btn", "click", function () {
            $.ajax({
                url: "/admin/rule-sources/add",
                type: "POST",
                cache: false,
                data: new FormData($('#add-rule-source-modal form')[0]),
                processData: false,
                contentType: false
            }).done(function(json){
                if(json.Status==0){
                    $('#add-rule-source-modal').modal("hide");
                    alert("upload sucess");
                    $('#add-rule-modal').modal("hide");
                }else{
                    alert(json.Msg)
                }
            }).fail(function(res) {});
        });


        $(document).delegate("#add-rule-modal #save-rule-btn","click",function(){
            data = $("#add-rule-modal .form-horizontal").serialize();

            idUrlObj = $("#IDUrl");

            idUrlObjText = $("#IDUrl").val();

            idUrlLen = $("#IDUrl").val().length;

            data = data + "&ListUrlIdPartOffset=" + idUrlLen;

            dstUrl = "/admin/rules/add";
            testVal =$("#add-rule-modal #ModifyType").val();

            if (formType == "edit"){
                dstUrl = "/admin/rules/edit"
            }

            $.ajax({
                type:"POST",
                data:data,
                url:dstUrl,
                dataType:"json",
                success: function(json){
                    if(json.Status==0){
                        $('#add-rule-modal').modal("hide");
                        refreshList()
                        //table.fnClearTable();//清空数据表
                    }
                }
            });
        });

    });

    function initAddRuleForm() {

        $("#add-rule-modal #SourceId option").remove(".add");

        $('#TestListRuleResTab').hide();
        $('#TestListTitleRuleTab').hide();
        $('#TestListUrlRuleTab').hide();
        $('#TestContentTitleRuleTab').hide();
        $('#TestContentTitleImageRuleTab').hide();
        $('#TestContentTitleImageTextRuleTab').hide();
        $('#TestContentBodyRuleTab').hide();
        $('#TestContentBodyExcludeRuleTab').hide();

        for(var ii = 0; ii < source_list.length; ii++){

            var newItem = '<option value="' + source_list[ii].Id + '" class="add">' + source_list[ii].Name + '</option>';

            $(newItem).insertAfter("#add-rule-modal #SourceId option:last");

        }


    }


    function init_list(){
        data = {};
        $.ajax({
            type: "POST",
            url: "/admin/rule-sources/list",
            dataType: "json",
            data: data,
            success: function (json) {
                if (json.Status != 0) {
                    alert("get list data failed");
                    return
                }
                source_list = json.Body
            }
        });
    }

    function refreshList() {
        var table = $('#rule_table').DataTable();
        data = {offset: offset};
        $.ajax({
            type:"POST",
            url:"/admin/rules/list",
            dataType:"json",
            data:data,
            success: function (json) {
                if(json.Status != 0){
                    alert("get list data failed");
                    return
                }

                var tbData = json.Body;

                rule_list = tbData;

                table.clear();

                var　rowVals = [];


                for(var ii =0; ii < tbData.length; ii++){

                    var item = tbData[ii];

                    data_title = item.Id;

                    rowVals.push([
                        item.Id,
                        item.RuleName,
                        item.Addr,
                        item.Source.Name,
                        '<a class="btn btn-success rule-edit" href="/admin/rules/copy?ruleId=' + data_title + '"><i class="icon-edit icon-white"></i>Copy</a>' + '&nbsp;&nbsp;' +
                        '<a data-toggle="modal" data-target="#add-rule-modal"  data-title="' + data_title + '"  class="btn btn-success rule-edit" href="#"><i class="icon-edit icon-white"></i>Modify</a>' +'&nbsp;&nbsp;'+
                        '<a   data-title="' + data_title + '"  class="btn btn-warning" href="/service/show?aid=' + data_title + '"><i class="icon-user icon-white"></i>Delete</a>'

                    ])

                }

                table.rows.add(rowVals).draw( false );


            }

        });

    }

    function obj2string(o){
        var r=[];
        if(typeof o=="string"){
            return "\""+o.replace(/([\'\"\\])/g,"\\$1").replace(/(\n)/g,"\\n").replace(/(\r)/g,"\\r").replace(/(\t)/g,"\\t")+"\"";
        }
        if(typeof o=="object"){
            if(!o.sort){
                for(var i in o){
                    r.push(i+":"+obj2string(o[i]));
                }
                if(!!document.all&&!/^\n?function\s*toString\(\)\s*\{\n?\s*\[native code\]\n?\s*\}\n?\s*$/.test(o.toString)){
                    r.push("toString:"+o.toString.toString());
                }
                r="{"+r.join()+"}";
            }else{
                for(var i=0;i<o.length;i++){
                    r.push(obj2string(o[i]))
                }
                r="["+r.join()+"]";
            }
            return r;
        }
        return o.toString();
    }
</script>


<div class="container">

    <div class="col-xs-6 col-md-12 col-center-block">

        {{template "admin_header.html"}}

        <div class="clearfix little-tool">

            <a href="#close" class="remove label label-danger pull-right little-tool">
                <i class="glyphicon glyphicon-remove"></i>
                Delete
            </a>
            <a href="#refresh" class="remove label label-default pull-right little-tool" id="record_refresh">
                <i class="glyphicon glyphicon-refresh"></i>
                Refresh
            </a>
            <a href="#close" class="remove label label-default pull-right little-tool" id="add_rule">
                <i class="glyphicon glyphicon-plus"></i>
                Add Rule
            </a>
            <a href="#refresh" class="remove label label-default pull-right little-tool" id="add_source">
                <i class="glyphicon glyphicon-star-empty"></i>
                Add Source
            </a>

            <a href="#refresh" class="remove label label-default pull-right little-tool" id="start_crawl">
                <i class="glyphicon glyphicon-play"></i>
                Start Crawler
            </a>

            <a href="#refresh" class="remove label label-default pull-right little-tool" id="crawl_info">
                <i class="glyphicon glyphicon-retweet"></i>
                Crawler Info
            </a>


        </div>

        <table id="rule_table" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
            <tr>
                <th class="col-sm-1">Rule Id</th>
                <th class="col-sm-2.5">Rule Name</th>
                <th class="col-sm-2.5">Addr</th>
                <th class="col-sm-2">Src Name</th>
                <th class="col-sm-3">OP</th>
            </tr>
            </thead>
            <tfoot>
            <tr>
                <th>Rule Id</th>
                <th>Rule Name</th>
                <th>Addr</th>
                <th>Src Name</th>
                <th>OP</th>
            </tr>
            </tfoot>
        </table>


        <div class="modal fade" id="add-rule-source-modal" tabindex="-1" role="dialog" aria-labelledby="add-rule-source-modal-lable" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="add-rule-source-modal-lable">Add Source</h4>
                    </div>
                    <div class="modal-body">
                        <form role="form">
                            <div class="form-group">
                                <label for="srcName">名称</label>
                                <input type="text" class="form-control" id="srcName" name="srcName" placeholder="请输入名称">
                            </div>
                            <div class="form-group">
                                <label for="ShowName">名称(For Show)</label>
                                <input type="text" class="form-control" id="ShowName" name="ShowName" placeholder="请输入名称">
                            </div>
                            <div class="form-group">
                                <label for="uploadpic">图片输入</label>
                                <input type="file" id="uploadpic" name="uploadpic">
                                <p class="help-block">网站图标。</p>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="button" class="btn btn-primary" id="save-rule-source-btn">提交</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>


        <div class="modal fade " id="add-rule-modal" tabindex="-1" role="dialog" aria-labelledby="add-rule-modal-lable" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="add-rule-modal-lable">Add Source</h4>
                    </div>
                    <div class="modal-body">
                        <form role="form" class="form-horizontal">
                            <input id="RuleId" type="hidden" name="RuleId">

                            <div class="form-group">
                                <label for="SourceId" class="col-sm-3 control-label">Source</label>
                                <div class="col-sm-9">
                                    <select class="selectpicker" id="SourceId" name="SourceId">
                                        <option value="0">None</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="Category" class="col-sm-3 control-label">Category</label>
                                <div class="col-sm-9">
                                    <select class="selectpicker" id="Category" name="Category">
                                        {{ range $index, $cat := .Cats}}
                                            <option value="{{$cat.Num}}">{{$cat.Name}}</option>
                                        {{ end }}
                                    </select>
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="col-sm-3 control-label">Category</label>
                                <div class="col-sm-9">
                                    <label class="radio-inline"><input type="radio" name="ShowKind" value="1">Single</label>
                                    <label class="radio-inline"><input type="radio" name="ShowKind" value="2">Slide</label>
                                    <label class="radio-inline"><input type="radio" name="ShowKind" value="3">Single + Slide</label>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label">Is Featured</label>
                                <div class="col-sm-9">
                                    <label class="checkbox-inline"><input type="checkbox" id="IsFeatured" name="IsFeatured" value="featured">Is Featured</label>
                                </div>
                            </div>


                            <div class="form-group">
                                <label for="RuleName" class="col-sm-3 control-label">Rule Name</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="RuleName" name="RuleName" placeholder="请输入地址">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="Addr" class="col-sm-3 control-label">Addr</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="Addr" name="Addr" placeholder="请输入地址">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="IDUrl" class="col-sm-3 control-label">IDUrl</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="IDUrl" name="IDUrl" placeholder="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="ListRule" class="col-sm-3 control-label">ListRule</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="ListRule" name="ListRule" placeholder="">
                                </div>
                                <div class="col-sm-3">
                                    <button type="button" class="btn btn-default col-sm-6" id="TestListRule" >Test</button>
                                    <button type="button" class="btn btn-default col-sm-6" id="TestListRuleClose" >Close</button>
                                </div>
                            </div>

                            <div id="TestListRuleResTab" class="form-group">
                                <label class="col-sm-3 control-label">Test Case</label>
                                <div class="col-sm-9" id="TestListRuleRes">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="ListTitleRule" class="col-sm-3 control-label">List/Title</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="ListTitleRule" name="ListTitleRule" placeholder="">
                                </div>
                                <div class="col-sm-3">
                                    <button type="button" class="btn btn-default col-sm-6" id="TestListTitleRule" >Test</button>
                                    <button type="button" class="btn btn-default col-sm-6" id="TestListTitleRuleClose" >Close</button>
                                </div>
                            </div>

                            <div id="TestListTitleRuleTab" class="form-group">
                                <label class="col-sm-3 control-label">Test Case</label>
                                <div class="col-sm-9" id="TestListTitleRuleRes">
                                </div>
                            </div>


                            <div class="form-group">
                                <label for="ListUrlRule" class="col-sm-3 control-label">List/Url</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="ListUrlRule" name="ListUrlRule" placeholder="">
                                </div>
                                <div class="col-sm-3">
                                    <button type="button" class="btn btn-default col-sm-6" id="TestListUrlRule" >Test</button>
                                    <button type="button" class="btn btn-default col-sm-6" id="TestListUrlRuleClose" >Close</button>
                                </div>
                            </div>
                            <div id="TestListUrlRuleTab" class="form-group">
                                <label class="col-sm-3 control-label">Test Case</label>
                                <div class="col-sm-9" id="TestListUrlRuleRes">
                                </div>
                            </div>


                            <div class="form-group">
                                <label for="ContentTitleRule" class="col-sm-3 control-label">Content/Title</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="ContentTitleRule" name="ContentTitleRule" placeholder="">
                                </div>
                                <div class="col-sm-3">
                                    <button type="button" class="btn btn-default col-sm-6" id="TestContentTitleRule" >Test</button>
                                    <button type="button" class="btn btn-default col-sm-6" id="TestContentTitleRuleClose" >Close</button>
                                </div>
                            </div>
                            <div id="TestContentTitleRuleTab" class="form-group">
                                <label class="col-sm-3 control-label">Test Case</label>
                                <div class="col-sm-9" id="TestContentTitleRuleRes">
                                </div>
                            </div>


                            <div class="form-group">
                                <label for="ContentTitleImageRule" class="col-sm-3 control-label">Content/Title Image</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="ContentTitleImageRule" name="ContentTitleImageRule" placeholder="">
                                </div>
                                <div class="col-sm-3">
                                    <button type="button" class="btn btn-default col-sm-6" id="TestContentTitleImageRule" >Test</button>
                                    <button type="button" class="btn btn-default col-sm-6" id="TestContentTitleImageRuleClose" >Close</button>
                                </div>
                            </div>
                            <div id="TestContentTitleImageRuleTab" class="form-group">
                                <label class="col-sm-3 control-label">Test Case</label>
                                <div class="col-sm-9" id="TestContentTitleImageRuleRes">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="ContentTitleImageTextRule" class="col-sm-3 control-label">Content/Title Image Text</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="ContentTitleImageTextRule" name="ContentTitleImageTextRule" placeholder="">
                                </div>
                                <div class="col-sm-3">
                                    <button type="button" class="btn btn-default col-sm-6" id="TestContentTitleImageTextRule" >Test</button>
                                    <button type="button" class="btn btn-default col-sm-6" id="TestContentTitleImageTextRuleClose" >Close</button>
                                </div>
                            </div>
                            <div id="TestContentTitleImageTextRuleTab" class="form-group">
                                <label class="col-sm-3 control-label">Test Case</label>
                                <div class="col-sm-9" id="TestContentTitleImageTextRuleRes">
                                </div>
                            </div>


                            <div class="form-group">
                                <label for="ContentBodyRule" class="col-sm-3 control-label">Content/Text</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="ContentBodyRule" name="ContentBodyRule" placeholder="">
                                </div>
                                <div class="col-sm-3">
                                    <button type="button" class="btn btn-default col-sm-6" id="TestContentBodyRule" >Test</button>
                                    <button type="button" class="btn btn-default col-sm-6" id="TestContentBodyRuleClose" >Close</button>
                                </div>
                            </div>
                            <div id="TestContentBodyRuleTab" class="form-group">
                                <label class="col-sm-3 control-label">Test Case</label>
                                <div class="col-sm-9" id="TestContentBodyRuleRes">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="ContentBodyExcludeRule" class="col-sm-3 control-label">Content/Exclude</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="ContentBodyExcludeRule" name="ContentBodyExcludeRule" placeholder="">
                                </div>
                                <div class="col-sm-3">
                                    <button type="button" class="btn btn-default col-sm-6" id="TestContentBodyExcludeRule" >Test</button>
                                    <button type="button" class="btn btn-default col-sm-6" id="TestContentBodyExcludeRuleClose" >Close</button>
                                </div>
                            </div>
                            <div id="TestContentBodyExcludeRuleTab" class="form-group">
                                <label class="col-sm-3 control-label">Test Case</label>
                                <div class="col-sm-9" id="TestContentBodyExcludeRuleRes">
                                </div>
                            </div>


                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="button" class="btn btn-primary" id="save-rule-btn">提交</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>

        <h2> log </h2>
        <div id="mlog"></div>

        <!--
        <div class="row clearfix">
            <div class="col-md-6 column ui-sortable col-center-block">
                <div class="box box-element">
                    <div class="view">
                        <div class="jumbotron" contenteditable="true">
                            <h1>Hello, world!</h1>
                            <p>
                                This is a template
                            </p>
                            <p>
                                <a class="btn btn-primary btn-large" href="#">Learn more</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        -->
    </div>
</div>
</body>
</html>