{{define "admin_header.html"}}

<div class="navbar navbar-default">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a rel="nofollow" rel="noreferrer"class="navbar-brand" href="#">Admin</a>
    </div>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav">
            <li class="active"><a rel="nofollow" rel="noreferrer"href="#">Active</a></li>
            <li><a rel="nofollow" rel="noreferrer"href="#">Link</a></li>
            <li class="dropdown">
                <a rel="nofollow" rel="noreferrer"href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a rel="nofollow" rel="noreferrer"href="#">Action</a></li>
                    <li><a rel="nofollow" rel="noreferrer"href="#">Another action</a></li>
                    <li><a rel="nofollow" rel="noreferrer"href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li class="dropdown-header">Dropdown header</li>
                    <li><a rel="nofollow" rel="noreferrer"href="#">Separated link</a></li>
                    <li><a rel="nofollow" rel="noreferrer"href="#">One more separated link</a></li>
                </ul>
            </li>
        </ul>
        <form class="navbar-form navbar-left">
            <input type="text" class="form-control col-lg-8" placeholder="Search">
        </form>
        <ul class="nav navbar-nav navbar-right">
            <li><a rel="nofollow" rel="noreferrer"href="#">Link</a></li>
        </ul>
    </div><!-- /.nav-collapse -->
</div><!-- /.navbar -->
{{ end }}